{% extends 'User/Header.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyProfile</title>

    <style>
        table {
            border-collapse: collapse;
            width: 30%;
        }
        td, th {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
<form action="" method="post">
    <h2 style="text-align: center;">My Profile</h2>

    <table align="center">
        <tr>
            <td colspan="2" align="center">
                <img src="{{ userdata.user_photo.url }}" width="100" height="120" alt="user">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ userdata.user_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ userdata.user_email }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ userdata.user_address }}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{ userdata.user_contact }}</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <a href="{% url 'User:EditProfile' %}">Edit Profile</a> /
                <a href="{% url 'User:ChangePassword' %}">Change Password</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>

{% endblock %}
